<nav class="navbar navbar-expand-lg bg-body-secondary border-bottom nav-underline">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" routerLink="">
            <img class="img-fluid rounded-circle" style="width: 50px; height: 50px;" src="https://upload.wikimedia.org/wikipedia/commons/1/15/Recipe_logo.jpeg"/>
            Recipe Book
        </a>
        <button class="navbar-toggler" type="button" [ariaExpanded]="isNavOpen" aria-label="Toggle navigation"
            (click)="onNavBtnClick()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div *ngIf="isNavOpen" class="navbar-collapse" [class.collapse]="!isNavOpen">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li routerLinkActive="active"><a class="nav-link" routerLink="recipes" routerLinkActive="active">Recipes</a></li>
                <li routerLinkActive="active"><a class="nav-link" routerLink="shopping-list" routerLinkActive="active">Shopping List</a></li>
            </ul>
            <div class="nav-item dropdown" dropDown>
                <button class="btn dropdown-toggle" type="button" [ariaExpanded]="isNavOpen">
                    Manage
                </button>
                <ul class="dropdown-menu dropdown-menu-lg-end" data-bs-popper="static">
                    <li><a class="dropdown-item">Save Data</a></li>
                    <li><a class="dropdown-item">Fetch Data</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
