<ng-container *ngIf="(recipe$ | async) as recipe; else unselectedFallback">
    <div class="row mb-3">
        <div class="col-xs-12">
          <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-fluid" style="max-width: 500px;">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
          <h1>{{ recipe.name }}</h1>
        </div>
        <div class="col-auto pt-2">
            <div class="dropdown" dropDown>
              <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Recipe
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="addToShoppingList(recipe)">To Shopping List</a></li>
                <li><a class="dropdown-item" (click)="editRecipe(recipe)">Edit Recipe</a></li>
                <li><a class="dropdown-item">Delete Recipe</a></li>
              </ul>
            </div>
          </div>
    </div>
    <div class="row mb-3">
        <div class="col-xs-12">
          {{ recipe.description }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-xs-12">
          <ul class="list-group">
            <a
              class="list-group-item"
              style="cursor: pointer"
              *ngFor="let ingredient of recipe.ingredients"
            >
              {{ ingredient.name }} ({{ ingredient.amount }})
            </a>
          </ul>
        </div>
    </div>
</ng-container>

<ng-template #unselectedFallback>
   <div class="row h-100">
        <div class="col-xs-12 p-3 d-flex flex-column align-items-center justify-content-center">
            <em>Unable to load the recipe</em>
        </div>
   </div>
</ng-template>
