<div *ngIf="recipe" 
    role="button"
    class="list-group-item list-group-item-action d-flex gap-2" 
    routerLinkActive="active" 
    [routerLink]="['/recipes', recipe.id]">
    <div class="flex-grow-1">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
    </div>
    <div class="">
        <img
            [src]="recipe.imagePath"
            alt="{{ recipe.name }}"
            class="img-fluid"
            style="max-width: 140px;">
    </div>
</div>
