<div class="row">
    <div class="col-xs-12 p-3 border-bottom">
      <button class="btn btn-success" (click)="onNewClick()">New Recipe</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 p-3 overflow-x-hidden overflow-y-auto" style="max-height: 1024px;">
      <div class="list-group gap-2">
         <app-recipe-item 
            class="recipe-item" 
            [id]="recipe.name"
            *ngFor="let recipe of (recipes$ | async)" 
            [recipe]="recipe" 
         />
      </div>
   </div>
</div>
